
body {
    background-image: linear-gradient(to top left,#B3DEE5 , #B3DEE5, #FAE6B1);
    text-align: left;
    color: black;
}

.card {
    /* border-radius: 25px; */
    font-family: 'Mandali', sans-serif;
    font-size: 22px;
    margin-left: 50px;
    margin-top: 50px;
        opacity: .5;
        transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
        /* background: url(/img/cream_dust.png); */
        box-shadow: 0 0 1em 1em ;
        display: grid;
        grid-gap:25px;
        grid-template: auto/repeat(auto-fit, minmax(300px)1fr);
    }
    
    .card:hover {
        opacity: 1;
    }
  

  .card-image {
      height: auto;
      width: auto;
  }

  .title {
    font-family: 'Corben', Georgia, Times, serif;
    text-shadow: 1px 1px 1px #ccc;
  }

  .subtitle {
    font-family: 'Mandali', sans-serif;
    font-size: 22px;
  }

  .hero-body {
    background-image: linear-gradient(to top right, #B3DEE5 , );
  }

  img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
    background-size: auto;
}

.is-fullwidth {
    background-color: lightgreen;
}

.modal-card-head {
background-color: #fae6b1;

}
.modal-card-body {
  background-color: #b3dee5;
  
/* .result-content{
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap:25px;
  grid-template: auto/repeat(auto-fit, minmax(300px)1fr);
} */

.card.invisible{
  display: none;
}